In [58]:
import pandas as pd

In [41]:
file = "Resources/election_data.csv"
datafile = pd.read_csv(file)
datafile.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [42]:
Total_votes = datafile['Voter ID'].count()
Total_votes

3521001

In [12]:
Candidate = datafile["Candidate"].unique()
Candidate

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [56]:
Candidate_votes = datafile["Candidate"].value_counts()
Candidate_votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [57]:
percent = datafile["Candidate"].value_counts()/Total_votes*100
percent

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [59]:
winner = Candidate_votes.max()
winner

2218231

In [70]:
for Name in datafile["Candidate"]:
    if datafile['Candidate'] == Candidate_votes.max():
        print(Name)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().